.body{
    font-family: 'Roboto','Times New Roman',sans-serif;
}
.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 6fr;
}

.sidebar{
    background-color: #0ea5e9;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}
.header{
    background-color: white;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}
.top-header{
    display: flex;
    gap: 50px;
    margin-left: 20px;
    margin-top: 20px;
    justify-content: space-between;
}
.top-left{
    display: flex;
    gap: 20px;
}
.top-right{
    display: flex;
    gap: 20px;
    margin-right: 20px;
}
.searchbar{
    background-color: rgb(89, 89, 146, 0.2);
    border-radius: 20px;
    width: 800px;
    height: 25px;
}
.profile-name{
    font-weight: bold;
}
.bottom-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
.bottom-left{
    display: flex;
    gap: 10px;
    margin-right: 250px;
    margin-left: 20px;
    justify-content: center;
    align-items: center;
}
.bottom-right{
    display: flex;
    gap: 20px;
    margin-right: 20px;
}
.button{
    display: flex;
    background-color: #60a5fa;
    color: white;
    border-radius: 15px;
    width: 80px;
    height: 30px;
    justify-content: center;
    align-items: center;
}


.main-content{
    background-color: #e2e8f0;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 3fr 1fr;
}
.projects{
    grid-area: 1 / 1 / 3 / 2;
}
.announcements{
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    margin-right: 10px;
}
.announcement{
    background-color: white;
    border: 1px solid #e2e8f0;
    border-radius: 5px;
    height: 125px;
    padding: 5px;
}
.trends{
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}
.trend{
    display: flex;
    background-color: white;
    padding: 5px;
    gap: 5px;
    height: 50px;
    gap: 20px;
    margin-right: 10px;
   
}
.projects-container{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

}
.card{
    background-color: white;
    border-left: 5px solid #eab308;
    height: 200px;
    width: 550px;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    margin-left: 20px;
}
#card1{
    grid-area: 1 / 1 / 2 / 2;
}
#card2{
    grid-area: 1 / 2 / 2 / 3;
}
#card3{
    grid-area: 2 / 1 / 2 / 2;
}
#card4{
    grid-area: 2 / 2 / 3 / 3;
}
#card5{
    grid-area: 3 / 1 / 4 / 2;
}
#card6{
    grid-area: 3 / 2 / 4 / 3;
}
.icons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 15px;
    height: 100px;
}
.icon{
    width: 25px;
    height: 25px;
}
.profile-picture{
    width: 50px;
    height: 50px;
}
li{
    display: flex;
    gap: 10px;
    align-items: center;
    color: white;
    font-size: 20px;
}
.sidebar-title{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    margin-left: 20px;
    color: white;
    font-size: 20px;
}
h1{
    margin-left: 12px;
}